@foreach (var option in Question.Options)
{
    <div>
        <input type="checkbox"
                id="@option.Id"
                name="@option.Id"
                value=option.Id
                @bind="@GetOptionResponse(option).IsChecked">

        <label for="@option.Id">@option.Value</label>
    </div>
}