@using DataDrivenFormPoC.Views.Components.ContainerComponents;

<ContainerComponent State="State">
    <Content>
        <form @onsubmit="HandleSubmit">
            @foreach (var question in Form.Questions)
            {
            <div id="@question.Id">
                @if (GetType(question) == Models.ResponseType.RawText)
                {
                    <TextQuestionComponent Question="@question" Callback="AddQuestionComponentToOptionResponders" />
                }
                else if (GetType(question) == Models.ResponseType.RawTextArea)
                {
                    <label>@question.QuestionText</label>
                    <br />
                    <textarea></textarea>
                }
                else if (GetType(question) == Models.ResponseType.SingleChoiceDropDown)
                {
                    <label> @question.QuestionText</label>

                    <br />

                    <select>
                        @foreach (var option in question.Options)
                        {
                            <option value="@option.Value">@option.Value</option>
                        }
                    </select>
                }
                else if (GetType(question) == Models.ResponseType.SingleChoiceRadio)
                {
                    <RadioQuestionComponent Question="@question" Callback="AddQuestionComponentToOptionResponders" />
                }
                else if (GetType(question) == Models.ResponseType.MultipleChoice)
                {
                    <CheckBoxQuestionComponent Question="@question" Callback="AddQuestionComponentToOptionResponders" />
                }
                else if (GetType(question) == Models.ResponseType.Date)
                {
                    <label> @question.QuestionText</label>
                    <br />

                    <input type="date" />
                }
                else if (GetType(question) == Models.ResponseType.DateTime)
                {
                    <label> @question.QuestionText</label>
                    <br />

                    <input type="datetime-local" />
                }
            </div>
                <br />
            }
            <br />
            <input type="submit" value="Submit" />
        </form>
    </Content>
</ContainerComponent>