@using DataDrivenFormPoC.Views.Components.ContainerComponents;

<ContainerComponent State="State">
    <Content>
        <form @onsubmit="HandleSubmit">
            @foreach (var question in Form.Questions)
            {
            <div id="@question.Id">
                @if (GetType(question) == Models.ResponseType.RawText)
                {
                    <TextQuestionComponent Question="@question" Callback="AddQuestionComponentToOptionResponders" />
                }
                else if (GetType(question) == Models.ResponseType.RawTextArea)
                {
                    <label>@question.QuestionText</label>
                    <br />
                    <textarea></textarea>
                }
                else if (GetType(question) == Models.ResponseType.SingleChoiceDropDown)
                {
                    <label> @question.QuestionText</label>

                    <br />

                    <select>
                        @foreach (var option in question.Options)
                        {
                            <option value="@option.Value">@option.Value</option>
                        }
                    </select>
                }
                else if (GetType(question) == Models.ResponseType.SingleChoiceRadio)
                {
                    <label> @question.QuestionText</label>
                    <br />

                    @foreach (var option in question.Options)
                    {
                        <input type="radio"
                               id="@option.Id"
                               name="@question.Id"
                               value=option.Value>

                        <label for="@option.Id">@option.Value</label>

                        <br />
                    }
                }
                else if (GetType(question) == Models.ResponseType.MultipleChoice)
                {
                    <label> @question.QuestionText</label>
                    <br />

                    @foreach (var (option, index) in question.Options.Select((option, i) => (option, i)))
                    {
                        <input type="checkbox"
                               id="@option.Id"
                               name="@option.Id"
                               value=option.Value>

                        <label for="@option.Id">@option.Value</label>

                        @if (index != question.Options.Count() - 1)
                        {
                            <br />
                        }
                    }
                }
                else if (GetType(question) == Models.ResponseType.Date)
                {
                    <label> @question.QuestionText</label>
                    <br />

                    <input type="date" />
                }
                else if (GetType(question) == Models.ResponseType.DateTime)
                {
                    <label> @question.QuestionText</label>
                    <br />

                    <input type="datetime-local" />
                }
            </div>
                <br />
            }
            <br />
            <input type="submit" value="Submit" />
        </form>
    </Content>
</ContainerComponent>