@using DataDrivenFormPoC.Views.Components.ContainerComponents;

<ContainerComponent State="State">
    <Content>
        <form @onsubmit="HandleSubmit">
            @foreach (var question in Form.Questions)
            {
                <div id="@question.Id">
                    @if (GetType(question) == Models.ResponseType.RawText)
                    {
                        <TextQuestionComponent Question="@question" 
                                               Callback="AddQuestionComponentToOptionResponders" />
                    }
                    else if (GetType(question) == Models.ResponseType.SingleChoiceDropDown)
                    {
                        <DropDownQuestionComponent Question="@question" 
                                                   Callback="AddQuestionComponentToOptionResponders" />
                    }
                    else if (GetType(question) == Models.ResponseType.SingleChoiceRadio)
                    {
                        <RadioQuestionComponent Question="@question" 
                                                Callback="AddQuestionComponentToOptionResponders" />
                    }
                    else if (GetType(question) == Models.ResponseType.MultipleChoice)
                    {
                        <CheckBoxQuestionComponent Question="@question" 
                                                   Callback="AddQuestionComponentToOptionResponders" />
                    }
                    else if (GetType(question) == Models.ResponseType.Date)
                    {
                        <DateQuestionComponent Question="@question"
                                               Callback="AddQuestionComponentToOptionResponders" />
                    }
                    else
                    {
                        <p>
                            Unknown Question Type: @question.ResponseType in Question @question.Id
                        </p>
                    }
                </div>

                <br />
            }
            <br />
            <input type="submit" value="Submit" />
        </form>
    </Content>
</ContainerComponent>