<label> @Question.QuestionText</label>
<br />

@foreach (var option in Question.Options)
{
    <label for="@option.Id">

        <input type="radio"
               id="@option.Id"
               name="@Question.Id"
               value="@option.Id"
               @onchange="SelectionChanged" 
               checked=@(SelectedOptionId == option.Id) />

        @option.Value

    </label>

    <br />
}