@foreach (var (option, index) in Question.Options.Select((option, i) => (option, i)))
{
    <div>
        <label for="@option.Id">

            <input type="radio"
                   id="@option.Id"
                   name="@Question.Id"
                   value="@option.Id"
                   @onchange="SelectionChangedAsync"
                   checked=@(SelectedOptionId == option.Id) />

            @option.Value

        </label>
    </div>
}