@foreach (var (option, index) in Question.Options.Select((option, i) => (option, i)))
{
    <label for="@option.Id">

        <input type="radio"
               id="@option.Id"
               name="@Question.Id"
               value="@option.Id"
               @onchange="SelectionChanged"
               checked=@(SelectedOptionId == option.Id) />

        @option.Value

    </label>

    @if (index != Question.Options.Count() - 1)
    {
        <br />
    }
}